@{
    ViewBag.Title = "Character Page";
}

<div class="jumbotron">
    <h1>Your characters</h1>
    <p class="lead">Create and manage your characters</p>
</div>

@*<div class="row">*@
    <div> @* class="col-md-6">*@
        <h2>Create a new character</h2>
        <p>Create a new character.</p>
        <p><a class="btn btn-default" href="~/Create">Create a character &raquo;</a></p>
    </div>

    <div> @* class="col-md-6">*@
        <h2>Existing characters</h2>
        <p>Manage your existing characters here.</p>
        @*<p><a class="btn btn-default" href="/Characters">Existing characters &raquo;</a></p>*@
    </div>

@*</div>*@