@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fake RPG Hub</h1>
    <p class="lead">Create and manage your characters, search for item and quest information, and more</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage your characters</h2>
        <p>
            Create a new character and manage existing characters.
        </p>
        <p><a class="btn btn-default" href="/Characters">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Items</h2>
        <p>View equipment and other items available in game.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Quests</h2>
        <p>View quests.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Go &raquo;</a></p>
    </div>
</div>